<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Free Jonathan Wall.</h2>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Home</a></li>
              <li><a href="#" class="py-2 d-block">About Us</a></li>
              <li><a href="#" class="py-2 d-block">Case File</a></li>
              <li><a href="#" class="py-2 d-block">History Of Prohibition</a></li>
              <li><a href="#" class="py-2 d-block">Press</a></li>
              <li><a href="#" class="py-2 d-block">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__"
                        >info@freejonathanwall.com</span></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            Copyright &copy; All rights reserved
          </p>
        </div>
      </div>
    </div>
  </footer>

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
      stroke="#F96D00" />
  </svg></div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js%2bpopper.min.js%2bbootstrap.min.js.pagespeed.jc.kXGchWCmHY.js"></script>
<script>eval(mod_pagespeed_l5lrZyg6Vw);</script>
<script>eval(mod_pagespeed_7nlZabnAqP);</script>
<script>eval(mod_pagespeed_kWBbC2mpT$);</script>
<script
  src="js/jquery.easing.1.3.js%2bjquery.waypoints.min.js%2bjquery.stellar.min.js%2bowl.carousel.min.js.pagespeed.jc.ei1dHvjmGB.js"></script>
<script>eval(mod_pagespeed_jERcQAbt1R);</script>
<script>eval(mod_pagespeed_jR00Zg8ApC);</script>
<script>eval(mod_pagespeed_jmOK$qwOH1);</script>
<script>eval(mod_pagespeed_PvozuW5nHv);</script>
<script
  src="js/jquery.magnific-popup.min.js%2baos.js%2bjquery.animateNumber.min.js%2bscrollax.min.js%2bgoogle-map.js%2bmain.js.pagespeed.jc.2Qj0Ka_2F3.js"></script>
<script>eval(mod_pagespeed_frN_GhLxpN);</script>
<script>eval(mod_pagespeed_gOQZQjAs0b);</script>
<script>eval(mod_pagespeed_L5WK9MkF6D);</script>
<script>eval(mod_pagespeed_1YTgpcu4QN);</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script>eval(mod_pagespeed_lhh3Vs7uQm);</script>
<script>eval(mod_pagespeed_RzWHu0GYW5);</script>

