<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Free Jonathan Wall<span>.</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
          <li class="nav-item"><a href="case-file.html" class="nav-link">Case File</a></li>
          <li class="nav-item"><a href="history-of-Prohibition.html" class="nav-link">History of Prohibition</a></li>
          <li class="nav-item"><a href="press.html" class="nav-link">Press</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
          <li class="nav-item">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="nav-link">

              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business"
                  value="info@freejonathanwall.com.">
          
              <!-- Specify a Donate button. -->
              <input type="hidden" name="cmd" value="_donations">
          
              <!-- Specify details about the contribution -->
              <input type="hidden" name="item_name" value="Friends of the Park">
              <input type="hidden" name="item_number" value="Fall Cleanup Campaign">
              <input type="hidden" name="currency_code" value="USD">
          
              <!-- Display the payment button. -->
              <input type="image" name="submit"
              src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
              alt="Donate">
              <img alt="" width="1" height="1"
              src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
          
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>